@import url('https://fonts.googleapis.com/css2?family=Genos:wght@500;600;700&display=swap');

h1, h2, p, a {
  font-family: Genos;
}

.header {
  padding-bottom: 20px;
}

.header {
  text-align: center;
}

.section {
  padding-bottom: 100px;
  position: relative;
}

.pubic-rubic {
  margin-top: 40px;}

#rubic-widget-root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}