
h1 {
  font-weight: bold;
}

p {
  font-size: large;
}

.hero-header {
  font-size: 4.5rem !important;
}

.div-text {
  text-align: center;
}

a {
  color: #0060B6;
  text-decoration: none;
}

a:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;
  transition: 0.5s ease;
}

.btn-gradient {
  color: white;
  padding: 10px 40px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#EA8634, #EB5B35);
  transition: background 0.5s ease;
}

.shib-slap {
  cursor: pointer;
}

.shiba-slap.slap {
  animation: slapper .25s;
}

.btn-gradient:hover {
  background: linear-gradient(#e98533, #f53905);
  color: white;
}

.container-slap {
  background: linear-gradient(to left, #fb7809, #f7f5f5ee );
  border-radius: 20px;
}

@media (min-width: 994px) {
  .div-text {
    text-align: left;
  }  
}

@keyframes slapper {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}